* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}
.container {
    height: 100vh;
    margin: 20px auto;
    width: 80%;
}

/* navbar */
navbar {
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.menu {
    width: 100%;
}
.menu ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: bold;
}
navbar button {
    width: 200px;
    height: 40px;
    background-color: #7854F7;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* hero */
.hero {
    position: relative;
}
.hero h1 {
    font-size: 80px;
    font-weight: bold;
    color: #000;
    text-align: left;
    margin-top: 50px;
    width: 50%;
}
.hero h3 {
    color: #929292;
}
.hero button {
    width: 200px;
    height: 40px;
    background-color: #7854F7;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.hero button::after {
    content: "^";
    position: absolute;
    transform: translateX(5px) translateY(-4px) rotate(180deg);
}
.hero img {
    position: absolute;
    width: 500px;
    top: 0;
    right: 0;
}

/* services */
.services {
    width: 100%;
    display: flex;
    margin: 200px auto;
}
.services .main {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.services .main h2 {
    font-size: 60px;
}
.services .cart {
    display: flex;
    justify-content: space-around;
    width: 75%;
    
}
.services .cart div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: rgb(148, 225, 248);
}
.services .cart div:hover {
    background-color: rgb(230, 219, 76);
}
.services .cart img {
    width: 70px;
    height: auto;
}
.services h3 {
    font-size: 22px;
}
